.copyright{
    display: flex;
    gap: 3%;
}

.copyrighttext{
    /* background-color: aqua; */
    margin-left: 23%;
    height: 100%;
    width: 30%;
    width: 30%;
}

.copyrightpara{
    margin-top: 5%;
    margin-left: 10%;
}

.socialicons{
    /* background-color: chartreuse; */
    display: flex;
    gap: 3%;
    height: 100%;
    width: 30%;
    font-size: 17px;
    margin-top: 1.5%;
    /* margin-right: 10px; */
}


  